* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: arial;
}


.navbar {
    width: 100%;
    height: 70px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(241, 206, 119);
}

.logo {
    width: 200px;
    height: 50px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;


}


.logo img {
    width: 90px;
}


.navbar ul {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid black; */
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}


.icon {
    width: 200px;
    height: 60px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.icon img {
    width: 30px;
}


.main {
    width: 100%;
    min-height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: start;
    background: url(steam-rises-as-coffee-cools-night-generated-by-ai_188544-10245.avif );
    background-repeat: no-repeat;
    /* object-fit: cover; */
    background-size: cover;
    flex-direction: column;
    padding-left: 60px;
    gap: 20px;
}


.main h1 {
  font-size: 50px;
  color: white;
  /* width: 50%; */
}

.main p {
    color: white;
    font-size: 16px;
    width: 33%;
}

.main button {
    padding: 10px 28px;
    /* border: 2px solid red; */
    font-size: 18px;
    background: rgb(251, 203, 106) ;
    border-radius: 30px;

}


.second {
    width: 100%;
    min-height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    width: 50%;
    min-height: 100vh;
    /* border: 2px solid gold; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    padding-left: 50px;

}

.left h1 {
    font-size: 50px;

}

.left p {
    width: 90%;
}
.left button {
    padding: 10px 28px;
    border: none;
    font-size: 18px;
    background: rgba(251, 203, 106, 0.664) ;
    border-radius: 30px;

}

.right {
    width: 50%;
    min-height: 100vh;
    /* border: 2px solid gold; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.right img {
    width: 60%;
    border-radius: 30px;
}

.card-item {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(230, 233, 235);
}

.card-sec {
   width: 300px;
   height: 380px;
   /* border: 2px solid red; */
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 20px;
   background-color: white;
   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.516);
   border-radius: 20px;
}

.card-sec img {
    width: 250px;
    height: 250px;
}

.card-sec h1 {
    font-size: 30px;
}